.gcloudignore
.git
.gitignore

# Virtualenv i środowiska
venv/
env/
.venv/

# Cache Pythona
**/__pycache__/
**/*.pyc
**/*.pyo

# Testy i coverage
htmlcov/
.pytest_cache/
.coverage
coverage.xml

# IDE i lokalne śmieci
.vscode/
.idea/
*.log
.DS_Store

# Node i inne ciężkie katalogi na przyszłość
node_modules/

# Lokalny katalog środowiska/artefaktów
novahouse/

